SERVER_IS_DEVELOPMENT_MODE=true
SERVER_FRONTEND_ADDRESS="http://localhost:5173"
SERVER_BACKEND_IP="0.0.0.0"
SERVER_BACKEND_PORT=7878

# You can create JWT_SECRET by 'openssl rand -base64 64'
JWT_SECRET="your_jwt_secret"

# You can get RESEND_API_KEY from http://https://resend.com/api-keys for free
RESEND_API_KEY="your_resend_api_key"

SURREAL_ADDRESS="surrealdb:8000"
SURREAL_ROOT_NAME="root"
SURREAL_ROOT_PASSWORD="root"
SURREAL_NAMESPACE="WebAuthSystem"
SURREAL_DATABASE="backend"

REDIS_ADDRESS="redis://127.0.0.1/"
