# Replace its value, keep it as same as what you set in POSTGRES__DATABASE_URL
# For example
# POSTGRES_USER=your_postgres_user_name
POSTGRES_USER=postgres

# replace its value, keep it as same as what you set in POSTGRES__DATABASE_URL
# For example
# POSTGRES_PASSWORD=your_postgres_password
POSTGRES_PASSWORD=postgres

# No need to replace it
POSTGRES_DB=web_auth_system
